@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" type="text/css" href="https://www.firebase.com/css/example.css">
}

<a href="@Url.Action("CallFirebase")">Send Message From Backed</a>
<br />
<br />

<div id="messagesDiv"></div>
<input type="text" id="nameInput" placeholder="Name">
<input type="text" id="messageInput" placeholder="Message...">

@section scripts {
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="~/Scripts/sample.js"></script>
}