<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    @RenderSection("styles", false)
</head>
<body>
<div>
    @RenderBody()
</div>
@RenderSection("scripts", false)
</body>
</html>