@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" type="text/css" href="https://www.firebase.com/css/example.css">
}

<div id='messagesDiv'></div>
<input type='text' id='nameInput' placeholder='Name'>
<input type='text' id='messageInput' placeholder='Message...'>

@section scripts {
    <script src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
    <script>

        // Get a reference to the root of the chat data.
        var dataRef = new Firebase("https://firesharp.firebaseio.com/chat");
        //dataRef.set("I am now writing data into Firebase!");

        // When the user presses enter on the message input, write the message to firebase.
        $('#messageInput').keypress(function(e) {
            if (e.keyCode == 13) {
                var name = $('#nameInput').val();
                var text = $('#messageInput').val();
                dataRef.push({ name: name, text: text });
                $('#messageInput').val('');
            }
        });

        // Add a callback that is triggered for each chat message.
        dataRef.limit(10).on('child_added', function(snapshot) {
            var message = snapshot.val();
            $('<div/>').text(message.text).prepend($('<em/>')
                .text(message.name + ': ')).appendTo($('#messagesDiv'));
            $('#messagesDiv')[0].scrollTop = $('#messagesDiv')[0].scrollHeight;
        });
    </script>
}